Source: ros-indigo-baxter-sim-examples
Section: misc
Priority: extra
Maintainer: Rethink Robotics Inc. <rsdk.support@rethinkrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-baxter-core-msgs, ros-indigo-baxter-gazebo, ros-indigo-baxter-interface, ros-indigo-baxter-tools, ros-indigo-catkin, ros-indigo-gazebo5-msgs, ros-indigo-gazebo5-ros, ros-indigo-rospack, ros-indigo-rospy
Homepage: http://sdk.rethinkrobotics.com
Standards-Version: 3.9.2

Package: ros-indigo-baxter-sim-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-baxter-core-msgs, ros-indigo-baxter-gazebo, ros-indigo-baxter-interface, ros-indigo-baxter-tools, ros-indigo-gazebo5-msgs, ros-indigo-gazebo5-ros, ros-indigo-rospack, ros-indigo-rospy
Description: The baxter_sim_examples package
