Source: ros-indigo-baxter-simulator
Section: misc
Priority: extra
Maintainer: Rethink Robotics Inc. <rsdk.support@rethinkrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://sdk.rethinkrobotics.com
Standards-Version: 3.9.2

Package: ros-indigo-baxter-simulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-baxter-gazebo, ros-indigo-baxter-sim-controllers, ros-indigo-baxter-sim-examples, ros-indigo-baxter-sim-hardware, ros-indigo-baxter-sim-io, ros-indigo-baxter-sim-kinematics
Description: Metapackage - Baxter Research Robot Gazebo Simulation
